@font-face {
    font-family: alegreya;
    src: url(fonts/AlegreyaSans-Regular.woff);
}

@font-face {
    font-family: alegreya;
    src: url(fonts/AlegreyaSans-ExtraBold.woff);
    font-weight: bold;
}

@font-face {
    font-family: alegreya;
    src: url(fonts/AlegreyaSans-Italic.woff);
    font-style: italic;
}

@font-face {
    font-family: alegreya;
    src: url(fonts/AlegreyaSans-BoldItalic.woff);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: caviar;
    src: url(fonts/CaviarDreams.ttf);
}

@font-face {
    font-family: caviar;
    src: url(fonts/CaviarDreams_Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: caviar;
    src: url(fonts/CaviarDreams_Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: caviar;
    src: url(fonts/CaviarDreams_BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}









*
{
	margin: 0;
	padding: 0;
    box-sizing: border-box; /*include padding and border INTO width and height params*/
    font-family: caviar;
    transition: all 0.2s;
}

.stylo, .stylo .side * { text-shadow: none; }

body{
	background: fixed url(images/black_paper.png) #111;
	display: block;
	position: relative;
	width: calc(256px + 25px + 800px);
	margin: 0 auto;
	overflow-y: scroll;
	font-size: 0.9rem;
}











#items-wrapper
{
	/*
	margin: auto;
	width: 500px;
	display: inline-block;
	overflow-y: scroll;
	*/
	width: 800px;
	position: relative;
	height: 100%;
	margin-left: calc(256px + 25px); /*sidebar size*/
	margin-top: 25px; /*calc(50vh - 150px);*/
	animation: slide-intro 1.5s ease;
}

#items-wrapper > h1
{
	text-align: center;
	display: block;
	color: #fff;

	margin: -25px auto 25px auto;
	height: 100vh;
	line-height: 100vh;
	font-size: 12em;
}

@keyframes slide-intro {
    from {margin-top: 100vh;}
    to {margin-top: 25px;} /*calc(50vh - 150px);}*/
}

.item
{
	position: relative;
	height: 300px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 1);
	border: solid 1px #000;
	transform-origin: top;
}

.item a
{
	position: relative;
	display: block;
	height: 300px;
	width: 800px;

	color: white;
	text-decoration: none;
}

.item .side
{
	position: absolute;
	display: inline-block;
	bottom: 0;
	left: 0;
	height: 300px;
	width: 100px;
}

.item .side .date
{
	display: block;
	height: 300px;
	width: 100px;
	padding-right: 5px;
	text-align: right;
}

.item .side .cat
{
	position: absolute;
	display: table-cell;
  	vertical-align: bottom;
	bottom: 0;
	left: 0;
	height: 100px;
	width: 300px;
	padding-left: 7px;
	transform: rotate(270deg) translate(0px, 165px);
	transform-origin: bottom left;
}

.item.stylo .side
{
	color: #000;
}

.item img
{
	position: absolute;
	height: 298px; /*-2 for border*/
	width: 698px; /*-2 for border*/
	margin-top: 0;
	margin-left: 100px;
	filter: brightness(0.7);
	opacity: 0.75;
}

.item .content
{
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 100%;
	padding-top: 50px;
	padding-left: 100px;
}

.item .content h1
{
	margin-bottom: 25px;
	font-size: 4em;
}

.item .content p
{
	font-size: 1.5em;
}

.item .side .cat
{	
	font-size: 2em;
	font-weight: bold;
}

.item .side .date
{
	margin-top: -1px;
	font-weight: bold;
}
.mois{ font-size: 1.2em;}
.annee{ font-size: 1.5em; line-height: 2.2em; }


.item .side .date p
{
	margin-bottom: -15px;
}





.item:hover img
{
	filter: brightness(1);
	opacity: 1;
}
.item:hover .content
{
	opacity: 0;
}

.video { background: #e55039; }
.photo { background: #f6b93b; }
.sceno { background: #4a69bd; }
.audio { background: #141414; }
.stylo { background: #e4e4e4; } 
.divers { background: #444; } 



#item-foot
{
	height: 300px;
	margin-bottom: 25px;	
	width: 100%;
	background-image: url(images/ax.png);
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	opacity: 0.75;
}
	
#item-foot:hover
{
	opacity: 1;
}
















#sidebar-wrapper
{
	position: fixed;
	top: 0;
	display: inline-block;
	width: 256px;
	height: 100%;
	background: #222;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
	overflow-y: hidden;
	overflow-x: visible;
	/*margin-left: 25px;*/
}

#sidebar-wrapper:hover
{
	overflow-y: auto;
	overflow-x: hidden;
}

#sidebar-wrapper *
{
	width: 256px;
}

#header
{
	display: block;

	color: white;
	text-decoration: none;
	text-align: center;

	padding-top: 25px;
	padding-bottom: 25px;
}

#header h1 { font-size: 2.7em; }
#header h2 { font-size: 2em; }

nav
{
	position: relative;
	border-top: solid 1px #000;
}

#sidebar-wrapper
{
	border-left: solid 1px #000;
	border-right: solid 1px #000;
	width: 256px;
	overflow: hidden;
}

nav .menu-item
{
	display: block;
	height: 70px; line-height: 70px; /*for centering*/
	text-align: center;
	font-weight: bold;
	font-size:1.75em;
	color: white;
	text-decoration: none;
	border-bottom: solid 1px #000;
}

nav .all
{
	background-color: #2a404c;
}

nav .video
{
	margin-top: 25px;
	border-top: solid 1px #000;
}

nav .about
{
	margin-top: 25px;
	border-top: solid 1px #000;
	background-color: #2a404c;
}

nav .stylo { color: #000; }

#video:target ~ #sidebar-wrapper nav .video,
#photo:target ~ #sidebar-wrapper nav .photo,
#sceno:target ~ #sidebar-wrapper nav .sceno,
#audio:target ~ #sidebar-wrapper nav .audio,
#stylo:target ~ #sidebar-wrapper nav .stylo,
#divers:target ~ #sidebar-wrapper nav .divers,
#all:target ~ #sidebar-wrapper nav .all
{
	height: 140px;
	line-height: 140px;
	text-decoration: underline;
}


.filter:target ~ #sidebar-wrapper nav .main
{
	height: 70px;
	line-height: 70px;
	text-decoration: none;
}


nav .menu-item.main
{
	height: 140px;
	line-height: 140px;
	text-decoration: underline;
	background-color: #444;
}

nav .menu-item:hover
{
	filter: brightness(1.2) saturate(0.8);
}

footer
{
	margin-bottom: 10px;

	font-size: 0.8em;
	color: white;
	text-align: center;
	margin-top: 25px;
}

















.filter
{
	display: none;
}

#video:target ~ #items-wrapper .item:not(.video),
#photo:target ~ #items-wrapper .item:not(.photo),
#sceno:target ~ #items-wrapper .item:not(.sceno),
#audio:target ~ #items-wrapper .item:not(.audio),
#stylo:target ~ #items-wrapper .item:not(.stylo),
#divers:target ~ #items-wrapper .item:not(.divers)
{
	opacity : 0;
	height: 300px;
	margin-bottom: -300px;
	pointer-events: none;
}

.item:not(.item1)
{
	opacity : 0;
	margin-bottom: -300px;
	pointer-events: none;
}

.filter:target ~ #items-wrapper .item2
{
	opacity : 1;
	height: 300px;
	margin-bottom: 25px;
	pointer-events: initial;
}

.filter:target ~ #items-wrapper .item3
{
	opacity : 1;
	height: 300px;
	margin-bottom: 25px;
	pointer-events: initial;
}




#mail
{
	font-size: 2em;
	margin-bottom: 25px;
}
#mail a
{
	text-decoration: none;
	color: white;
}